exportPattern(".")
import(RPMG)
import(RSEIS)
import(GEOmap)
importFrom(minpack.lm, nls.lm) 
importFrom(MBA, mba.surf)
importFrom(rgl,rgl.open , par3d, points3d, lines3d)
importFrom(cda, rgl.ellipsoids)
